
*(

)

body{
    background-color: aquamarine;
    font-size: 16px;
    color: black;
    font-family: sans-selif;
}


header(
    background-color: blue;
    
)

header h1{
    text-align: center;
}
img{
    width: 50%;
    border-radius: 8px;
}

main{
    background-color: yellowgreen;
}