
*{

}

body{
background-color: rgb(6, 12, 10);
font-size: 16px;
color: black;
font-family: sans-serif;
}

header{
background-color: rgb(25, 62, 48);
color: rgb(0, 255, 162) ;
height: 6em;
}

header h1{
text-align: center;
}

img{
width: 50%;
border-radius: 18px;
}

main{
background-color: rgba(11, 80, 53, 0.567);
color: rgb(78, 173, 173);
}