
*{

}

body{
background-color: rgb(6, 12, 10);
font-size: 16px;
color: black;
font-family: sans-serif;
}


header{
background-color: rgb(0, 0, 0);
color: rgb(4, 211, 135) ;
height: 6em;
}

header h1{
text-align: center;
}

img{
width: 15%;
border-radius: 18px;
}

main{
background-color: rgba(5, 165, 104, 0.567);
color: rgb(4, 231, 231);
flex: 1;
}